name: Build and deploy static site to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Upload static site content
        uses: azure/webapps-deploy@v2
        with:
          app-name: new-web-app
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: .

          
